@media (max-width: 768px) {
    :root {
        --progress-padding: 4px;
        --progress-gap: 2px;
    }
    body, .container {
        padding-top: 1.5vh;
        display: block;
        text-align: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .home h1 {
        margin-top: 0;
        margin-bottom: .5em;
    }
    .home p {
        margin-bottom: 2em;
        padding: 0 20px;
    }
    .home button {
        
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-input {
        display: block;
    }
    .home-input input {
        margin-bottom: 8px;
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .hidden {
        display: none;
    }
    .queue-progress {
        margin-left: calc((100vw - var(--video-width))/2);
        width: var(--video-width);
    }
    .next-preview-container {
        display: none;
    }
    .video-actions {
        display: none;
    }
    .queue-progress-element {
        height: 5px;
        transform: translateY(-5px);
    }
    .player-lock-section {
        display: block;
    }
    .player-controls-lock-cover {
        z-index: 1000;
        display: none;
    }
}