@media (max-width: 768px) {
    body, .container {
        padding-top: 2vh;
        display: block;
        text-align: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .queue-progress {
        margin-left: calc((100vw - var(--video-width))/2);
    }
    .next-preview-container {
        display: none;
    }
    .video-actions {
        display: none;
    }
    .queue-progress-element {
        height: 5px;
        transform: translateY(-5px);
    }
    .player-lock-section {
        display: block;
    }
}