.player-section {
    display: flex;
    position: relative;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
}

.video-container {
    position: relative;
    width: var(--video-width);
    height: var(--video-height);
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--video-bg);
    border-radius: var(--video-edge-rounding);
    box-shadow: 0 0 var(--video-ambient-size) var(--video-ambient-color);
    animation: videoAmbientColorAnimation 12s ease-in-out infinite;
}

.shorts-embed {
    width: 100%;
    height: 100%;
}

@keyframes videoAmbientColorAnimation {
    0%, 100% {
        box-shadow: 
            0 0px var(--video-ambient-size) var(--video-ambient-color);
    }
    15% {
        box-shadow: 
            -5px 4px calc(var(--video-ambient-size) * 1.15) var(--video-ambient-color);
    }
    30% {
        box-shadow: 
            0 7px calc(var(--video-ambient-size) * 1.3) var(--video-ambient-color);
    }
    45% {
        box-shadow: 
            15px -8px calc(var(--video-ambient-size) * 1.2) var(--video-ambient-color);
    }
    60% {
        box-shadow: 
            0 3px calc(var(--video-ambient-size) * 1.4) var(--video-ambient-color);
    }
    75% {
        box-shadow: 
            -14px -9px calc(var(--video-ambient-size) * 1.25) var(--video-ambient-color);
    }
    90% {
        box-shadow: 
            0 17px calc(var(--video-ambient-size) * 1.35) var(--video-ambient-color);
    }
}

.player-lock-section {
    display: block;
    margin-top: 1vh;
    /* text-align: left;
    padding-left: calc((100% - var(--video-width))/2 + 15px); */
    padding-left: calc((100% - var(--video-width))/2 + var(--video-width)/2 - 2.5vh/2);
    display: none;
}

.player-controls-lock {
    display: inline-block;
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    opacity: .35;
    cursor: pointer;
    transition-duration: var(--trans);
}

.player-controls-lock:hover {
    opacity: 1;
}

.player-controls-lock svg {
    height: 100%;
    width: 100%;
}

#controls-lock-off-button {
    opacity: 1;
}

.player-controls-lock-cover {
    /* Easier Debug */
    /* background-color: rgba(255, 0, 0, 0.494); */
    height: var(--video-height);
    width: var(--video-width);
    position: absolute;
    left: calc((100vw - var(--video-width))/2);
    top: calc((100vh - var(--video-height))/2 + 5px);

    display: none;
    z-index: -100;
}