* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
  
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px 0;
    height: 96vh;
    gap: 20px;
}

.hidden {
    display: none;
    opacity: 0;
    z-index: -100;
}

button {
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--bg-color);
    background-color: var(--text-color);
    cursor: pointer;
    transition-duration: 1.25s;
    border-radius: var(--edge-rounding);
}

button:hover {
    background-color: #fff;
}

input[type="text"] {
    min-height: 34px; /* Should match the button */
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--text-color);
    border-radius: var(--edge-rounding);
}