:root {
    /* ********* GENERAL ********* */

    /* Colors */
    --text-color: #ffffff;
    --darker-text-color: #909090;
    --bg-color: #0f0f0f;

    /* Edges */
    --edge-rounding: 2.5px;
    --video-edge-rounding: 20px;

    /* ********* OTHER ********* */

    /* Video Player */
    --video-bg: var(--video-ambient-color);
    --video-height: 90vh;
    --video-width: 50.65vh;

    /* Ambient Colors */
    --video-ambient-color: #ffffff80; /* Should be updated in JS */
    --video-ambient-size: 75px;

    /* Progress Bar */
    --progress-hitbox-increase: 30px;
    --progress-height: 3px;
    --progress-gap: 4px;
    --progress-padding: 0px;
    --progress-radius: 2px;
    --progress-inactive: #ffffff38;
    --progress-hover: #ffffffaa;
    --progress-active: #ffffff;
    --progress-seen: #ffffff8a;
    --progress-seen-hover: #ffffffd2;
    
    /* Action Buttons */
    --action-bottom-padding: var(--video-edge-rounding);
    --action-size: 48px;
    --action-icon-size: 24px;
    --action-gap: 14px;
    --action-color: white;
    --action-bg: #00000099;
    --action-hover-bg: #ffffff1a;
    --action-label-font: 14px;
    
    /* Next Preview */
    --next-preview-height: 11vh;
    --next-preview-reveal: 7.25vh;
    --next-preview-hover-reveal: 5vh;
}