.video-container {
    position: relative;
    width: var(--video-width);
    height: var(--video-height);
    overflow: hidden;
    background-color: var(--video-bg);
    border-radius: var(--video-edge-rounding);
    box-shadow: 0 5px var(--video-ambient-size) var(--video-ambient-color);
}

.shorts-embed {
    width: 100%;
    height: 100%;
}