:root {
    /* ********* GENERAL ********* */

    /* Colors */
    --bg-color: #0f0f0f;

    /* Edges */
    --video-edge-rounding: 20px;

    /* ********* OTHER ********* */

    /* Video Player */
    --video-bg: #222;
    --video-width: 492px;
    --video-height: 875px;

    /* Ambient Colors */
    --video-ambient-color: #ffffff80; /* Should be updated in JS */
    --video-ambient-size: 100px;

    /* Progress Bar */
    --progress-height: 3px;
    --progress-gap: 4px;
    --progress-padding: 8px;
    --progress-radius: 2px;
    --progress-inactive: #ffffff4d;
    --progress-hover: #ffffff80;
    --progress-active: #ffffffbf;
    
    /* Action Buttons */
    --action-size: 48px;
    --action-icon-size: 24px;
    --action-gap: 16px;
    --action-color: white;
    --action-bg: #00000099;
    --action-hover-bg: #ffffff1a;
    --action-label-font: 14px;
    
    /* Next Preview */
    --next-preview-height: 100px;
    --next-preview-hover-reveal: 50px;
}