:root {
    /* ********* GENERAL ********* */

    /* Colors */
    --bg-color: #0f0f0f;

    /* Edges */
    --video-edge-rounding: 20px;

    /* ********* OTHER ********* */

    /* Video Player */
    --video-bg: #222;
    --video-width: 492px;
    --video-height: 875px;

    /* Ambient Colors */
    --video-ambient-color: #ffffff80; /* Should be updated in JS */
    --video-ambient-size: 100px;

    /* Progress Bar */
    --progress-height: 3px;
    --progress-gap: 4px;
    --progress-padding: 8px;
    --progress-radius: 2px;
    --progress-inactive: rgba(255, 255, 255, 0.3);
    --progress-hover: rgba(255, 255, 255, 0.5);
    --progress-active: rgba(255, 255, 255, 0.75);
}